

.bananas li {
    display: flex;
    align-items: center;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
}

.bananas p {
    max-width: none;
    font-weight: bold;
    margin: 0;
}

.bananas-thumb {
    overflow: hidden;
    flex-shrink: 0;
    width: 4em;
    height: 4em;
    padding: .5em;
    margin-right: .5em;
}

.bananas-thumb img {
    display: block;
    width: 100%;
    height: auto;
}



@media screen and (max-width: 1024px) {

    .bananas {
        display: flex;
        flex-direction: row;
        margin-right: 1em;
    }


    .bananas-thumb {
        width: 3em;
        height: 3em;
    }
}