.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36vw;

    background-color: #fafafa;
}


@media screen and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}


@media screen and (max-width: 1300px) {
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}