.headerzada {
    display: flex;
    justify-content: center;
    background: linear-gradient(#e6e4e4 0%, #fafafa 100%);
}

.headerzada-title {
    font-family: 'Righteous', cursive;
    color: rgb(63, 58, 58);
    font-size: 2.5em;
    
}

